<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Launcher.Properties.Settings>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchiveUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionServerPath" serializeAs="String">
                <value>https://drive.google.com/uc?export=download&amp;id=1kN0i9akJJHIGmV1s2mH-Nt_o5Cm0YnTS</value>
            </setting>
            <setting name="UpdateServerPath" serializeAs="String">
                <value>https://drive.google.com/uc?export=download&amp;id=1AmMd2EgmPVQzcIes6uPlieWm6OgUQJfe</value>
            </setting>
            <setting name="ChooseServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadMachineData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathToExe" serializeAs="String">
                <value>C:\Users\Dmitrii\Desktop\Launcher\Launcher\bin\Debug\net7.0-windows\update\net7.0-windows\Practica.exe</value>
            </setting>
            <setting name="DescServerPath" serializeAs="String">
                <value>https://drive.google.com/uc?export=download&amp;id=1yO8xBlb6ThIbtsPPPvD5jXgaq1UxqxKa</value>
            </setting>
        </Launcher.Properties.Settings>
    </userSettings>
</configuration>